apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: booking-experiment
spec:
  selector:
    app: inventory-service
  ports:
  - port: 5001
    targetPort: 5001
  type: ClusterIP
